.check-crops-main {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 15%;
}
.MuiPaper-root {
  background-color: #333 !important;
}

.btn-big{
  height: 400px;
}